*
{
  /* Zet standaard font */
  font-family: Arial, Sans-Serif;
}

body
{
  /* verwijdert witte margin gedeelte van body en zet de achtergrondkleur */
  margin: 0;
  background-image: url(Images/background.png);
  background-repeat: repeat;
  /*background-color: whitesmoke;*/
}

a
{
  /* verwijdert standaard lijn onder link en zet tekstkleur van link items*/
  /*text-decoration: none;*/
  color: black;
}

  a:hover
  {
    /* Underline een link als je erop gaat staan */
    text-decoration: underline;
  }

#PageWrapper
{
  /*
    Sets the total width for the entire page. Also sets the background color
    which is used to fill the background of the Sidebar in case the MainContent section is taller than the Sidebar.
    Uses margin: auto to center the entire page in the middle of the browser's window.
  */
  width: 85%;
  background-color: #424242;
  margin: auto;
}

header
{
  /*
    Gives the header the same width as the PageWrapper. 
    ruimte voor logo.
  */
  background-image: url(Images/lamagaanLogo.png);
  background-repeat: no-repeat;
  width: 99%;
  height: 86px;
  padding-left: 1%;
}

  header a
  {
    width: 35%;
    height: 86px;
    display: block;
  }

nav
{
  /*background-image: url(Images/MenuBackground.jpg);*/
  width: 98%;
  height: 36px;
  padding-top: 7px;
  padding-left: 1%;
  padding-right: 1%;
}

  nav a
  {
    color: #fff;
  }

.MainMenu
{
  border: 1px solid #999999;
  width: 99.8%;
  height: 29px;
  background-color: #555555;
}

  .MainMenu ul li
  {
    margin-right: 20px;
  }

section#MainContent
{
  /*
    Defines the main content area.
  */
  width: 66%;
  float: left;
  background-color: #e1e1e1;
  height: 500px;
  margin: 1%;
  margin-top: 6px;
  padding: 1%;
}

aside#Sidebar
{
    background-color: #e1e1e1;
    width: 27%;
    height: 500px;
    float: left;
    margin: 1%;
    margin-left: 0%;
    margin-top: 6px;
    padding: 1%;
}

#bottom-container{
    width: 100%;
    height:50px;
    background-color:#4c4c4c;
}

footer
{
  width: 100%;
  clear: both;
  height: 50px;
  background-color: #4c4c4c;  text-align: left;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 37px;
}


.copyright{
    color: #aaa;
    float:left;
    margin-left: 1%;
    width: 69%;
    font-size:small;
}

.copyrightText {
    color: white;
}

.footer-buttons{
    float:left;
    text-align: right;
    width: 26%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: medium;
}
    .footer-buttons a {
        color: #aaa;
    }

.Introduction
{
  font-style: italic;
  color: #3e3e3e;
}

.aspNetDisabled
{
  color: grey;
}

.MyButton
{
  color: White;
}

ul.level1
{
  font-size: 14px;
  font-weight: bold;
  height: 29px;
  line-height: 29px;
}

  ul.level1 .selected
  {
    background-color: #424242;
  }

a.level1
{
  padding-left: 5px !important;
}

a.level2
{
  background-color: #424242;
  padding-left: 8px;
  padding-right: 8px;
}

  a.level1:hover, a.level2:hover
  {
    background-color: #424242;
  }

img
{
  border: 0;
}

.ErrorMessage {
    color: Red;
}